public ActionResult Calcultor{
    return View();
}

@{ 
    ViewBag.Title = "Calcutor";
}

<div>
    <h2>Simple Calculator</h2>

    <table>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</div>
